<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" ng-app="myOldBooksApp">
    <head>
        <title>DEMO Page</title>
        <meta charset="UTF-8">
        <script src="lib/angular.min.js"></script>
        <script src="js/app.module.js"></script>
        <script src="js/service/data.service.js"></script>
        <script src="js/user/login.js"></script>
        <script src="js/user/registration.js"></script>
        <script src="js/user/logout.js"></script>
        <script src="js/user/demo.js"></script>
        <link rel="stylesheet" type="text/css" href="css/form.css">
    </head>
    <body>

        <div ng-controller="LoginCtrl as login">
            <form>
                <p>
                    <label for="nickname">Nickname:</label>
                    <input id="nickname" type="text" ng-model="login.formData.nickname"/>
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input id="password" type="password" ng-model="login.formData.pass"/>
                </p>
                <button ng-click="login.login()">Login</button>
            </form>
        </div>
        <br>

        <div ng-controller="RegistrationCtrl as registration">
            <form>
                <p>
                    <label for="fName">First Name:</label>
                    <input id="fName" type="text" ng-model="registration.formData.fName"/>
                </p>
                <p>
                    <label for="sName">Surname:</label>
                    <input id="sName" type="text" ng-model="registration.formData.sName"/>
                </p>
                <p>
                    <label for="lName">Last Name:</label>
                    <input id="lName" type="text" ng-model="registration.formData.lName"/>
                </p>
                <p>
                    <label for="nickname">Nickname:</label>
                    <input id="nickname" type="text" ng-model="registration.formData.nickname"/>
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input id="password" type="password" ng-model="registration.formData.pass"/>
                </p>
                <button ng-click="registration.register()">Register</button>
            </form>
        </div>
        <br>

        <div ng-controller="LogoutCtrl as logout">
            <button ng-click="logout.logout()">Logout</button>
        </div>
        <br>

        <div ng-controller="DemoCtrl as demo">
            <p>
                <button ng-click="demo.unprotectedCall()">Call unprotected method</button>
            </p>
            <p>
                <button ng-click="demo.protectedCall()">Call protected method</button>
            </p>
            <p>
                <button ng-click="demo.fakeCSRF()">Call protected method with incorrect CSRF token</button>
            </p>
        </div>
        <br>

    </body>
</html>
